.topbarContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: var(--topbar-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.5rem;
    padding: 0 var(--padding-hr) 0 calc(var(--padding-hr) + 1rem);
}

@media screen and (max-width: 768px) {
    .topbarContainer {
        column-gap: 1.5rem;
    }
}