.SPLIT,
.IMAGE_SPLIT {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.IMAGE_SPLIT {
    align-items: center;
}

.STACK,
.IMAGE_STACK {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: fit-content;
}

.featureImage {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    border: none;
    border-radius: 1rem;
    transition: max-height 0.25s ease;
}

.IMAGE_SPLIT .imageContainer {
    flex: 1;
}

@media screen and (max-height: 640px) {
    .featureImage {
        max-height: 300px;
    }
}

.featureTitle {
    font-size: 1.75rem;
}

.featureDescription {
    font-weight: var(--medium);
    color: var(--secondary);
    text-align: justify;
}

.SPLIT .featureTitle {
    flex: 1;
}

.SPLIT .featureDescription {
    flex: 2;
}

.IMAGE_SPLIT .featureDescription,
.IMAGE_STACK .featureDescription {
    margin-top: 1.5rem;
}