.specsContainer {
    background-color: var(--bg-t);
    padding: 2rem 2rem;
    border: none;
    border-radius: 1rem;
}

.title {
    font-weight: var(--semi-bold);
}

.value {
    color: var(--secondary);
    font-size: 0.875rem;
}