/*for the summary sections*/
.summary {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.info {
    width: 60%;
    transition: width 0.25s ease;
}

.info .description {
    color: var(--secondary);
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .summary {
        flex-direction: column;
        row-gap: 1rem;
        align-items: flex-start;
    }

    .info {
        width: 100%;
    }
}

.databoxes {
    display: flex;
    flex-direction: row;
    column-gap: 2.75rem;
    margin-top: 1rem;
    align-items: center;
}

.databoxes .dataValue {
    color: var(--accent);
    font-size: 1.75rem;
}

.databoxes .dataName {
    font-weight: var(--semi-bold);
    font-size: 1.125rem;
}

.editButton {
    font-size: 1.125rem;
    padding: 0.875rem 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--button-secondary);
    transition: background-color 0.25s ease;
}

.editButton:hover {
    background-color: var(--button-secondary-hover);
}

.editButton:active {
    background-color: var(--button-secondary-click);
}

/*for the products sections*/
.productCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
    gap: 2.5rem 2rem;
}