.container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    padding-left: var(--sidebar-width);
    transition: padding-left 0.25s ease;
}

.productLayout {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4rem;
    padding: 0 5vw 4rem 5vw;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .productLayout {
        flex-direction: column;
        column-gap: 0;
        row-gap: 8rem;
    }
}

.productControl {
    flex: 1;
    height: fit-content;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.625rem;
    background-color: var(--bg-t);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.productDetails {
    flex: 3.2;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}