:root {
  --bg: rgb(36, 37, 41);
  --bg-t: rgba(74, 74, 74, 0.35);
  --bg-dark: rgb(0, 0, 0, 0.6);

  --padding-hr: 3.5rem;
  --padding-vt: 1rem;
  --sidebar-width: 15.5rem;
  --o-sidebar-width: 15.5rem;
  --topbar-height: 4rem;

  --primary: #fffff0;
  --secondary: #CDCDC0;
  --accent: #DB0101;
  --accent-hover: #FF2727;
  --accent-click: #C00101;

  --element-active: rgb(87, 90, 98, 0.7);

  --button-secondary: hsla(60, 100%, 97%, 0.2);
  --button-secondary-hover: hsla(60, 100%, 97%, 0.3);
  --button-secondary-click: hsla(60, 5%, 57%, 0.3);

  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* for reference */
  --mobile-screen: 320px;
  --small-screen: 768px;
  --medium-screen: 1024px;
  --large-screen: 1280px;
  --extra-large-screen: 1920px;

}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
ol,
li,
div {
  margin: 0;
  padding: 0;
  color: var(--primary);
}

html {
  margin: 0;
  padding: 0;
  transition: font-size 0.25s ease;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  position: relative;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--primary);
  cursor: pointer;
  font-weight: var(--medium);
  transition: background-color 0.2s ease
}

button:hover {
  background-color: var(--accent-hover);
}

button:active {
  background-color: var(--accent-click);
}

/* global classes */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-left: var(--sidebar-width);
  padding-left: var(--padding-hr);
  padding-right: var(--padding-hr);
  padding-top: calc(var(--topbar-height) + var(--padding-vt));
  transition: margin-left 0.25s ease;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 0;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --sidebar-width: 18rem;
    --topbar-height: 5rem;
  }
}

.gradientDivider {
  border: none;
  height: 1px;
  background: linear-gradient(to right, var(--button-secondary), var(--primary), var(--button-secondary));
}