:root {
  --bg: rgb(36, 37, 41);
  --bg-t: rgba(74, 74, 74, 0.35);
  --bg-dark: rgb(0, 0, 0, 0.6);

  --padding-hr: 3.5rem;
  --padding-vt: 1rem;
  --sidebar-width: 16rem;
  --o-sidebar-width: 16rem;
  --topbar-height: 4rem;

  --primary: #fffff0;
  --secondary: #CDCDC0;
  --accent: #DB0101;
  --accent-hover: #FF2727;
  --accent-click: #C00101;
  --accent-disabled: #d34a4a;

  --element-active: rgba(87, 90, 98, 0.7);
  --element-active-light: hsla(224, 6%, 80%, 0.7);

  --button-secondary: hsla(60, 100%, 97%, 0.2);
  --button-secondary-hover: hsla(60, 100%, 97%, 0.3);
  --button-secondary-click: hsla(60, 5%, 57%, 0.3);

  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* for reference */
  --mobile-screen: 320px;
  --small-screen: 768px;
  --medium-screen: 1024px;
  --large-screen: 1280px;
  --extra-large-screen: 1920px;
  --short-screen: 640px;

}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
ol,
li,
div,
dialog {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--primary);
}

html {
  margin: 0;
  padding: 0;
  transition: font-size 0.25s ease;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  position: relative;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--primary);
  cursor: pointer;
  font-weight: var(--medium);
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
  transition: background-color 0.2s ease
}

button:hover {
  background-color: var(--accent-hover);
}

button:active {
  background-color: var(--accent-click);
}

button[aria-disabled="true"] {
  background-color: var(--accent-disabled);
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

/* global classes */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-left: var(--sidebar-width);
  padding-left: var(--padding-hr);
  padding-right: var(--padding-hr);
  padding-bottom: var(--topbar-height);
  padding-top: calc(var(--topbar-height) + var(--padding-vt));
  transition: margin-left 0.25s ease;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 0;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --sidebar-width: 18rem;
    --topbar-height: 5rem;
  }
}

.gradientDivider {
  border: none;
  height: 1px;
  background: linear-gradient(to right, var(--button-secondary), var(--primary), var(--button-secondary));
}

/* for form styling */
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 0 1.5rem;
  font-weight: var(--semi-bold);
}

.formError {
  background-color: var(--bg-dark);
  color: var(--secondary);
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 1rem 2.5rem;
  box-shadow: inset 0.25rem 0 0 0 red;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary);
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
}

.normalInput {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.sameLineInput {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
  align-items: center;
  width: 100%;
}

.textField,
.longTextField,
.dropdownSelect {
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
  background: var(--element-active);
  border: none;
  border-radius: 0.25rem;
  color: var(--primary);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: var(--medium);
  transition: box-shadow 0.2s ease, width 0.25s ease;
}

.textField:focus,
.longTextField:focus {
  outline: none;
  box-shadow: var(--element-active-light) 0px 0px 0.125rem 0.125rem;
}

.textField {
  width: 75%;
  max-width: var(--small-screen);
}

.longTextField {
  padding: 0.75rem 0.75rem;
  width: 100%;
  max-width: var(--small-screen);
  overflow: hidden;
  resize: none;
}

.colorPicker {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
}

.dropdownSelect {
  cursor: pointer;
  width: 75%;
  max-width: var(--small-screen);
}

.dropdownSelect:active,
.dropdownSelect:focus {
  outline: none;
}

.dropdownSelect option {
  background: var(--bg-dark);
}

.dropdownSelect option:hover {
  background: var(--bg-t);
}

.fileUpload {
  border: 0.125rem dashed var(--accent);
  border-radius: 0.25rem;
  padding: 1.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 75%;
  max-width: var(--small-screen);
  transition: border-color 0.25s ease;

  .fileUploadText {
    font-weight: var(--medium);
    color: var(--secondary);
    text-align: center;
  }

  .fileBrowse {
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.25s ease;
  }

  .fileBrowse:hover {
    color: var(--accent-hover);
  }

}

@media screen and (max-width: 768px) {

  .textField,
  .dropdownSelect,
  .fileUpload {
    width: 100%;
  }
}