.bgImage {
  margin-top: 6rem;
  position: relative;
  background-image: url('/futuristic_bg.svg');
  background-size: cover;
  background-position: center;
}

.borderShadow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      var(--bg) 0%,
      rgba(36, 37, 41, 0.2) 10%,
      rgba(36, 37, 41, 0.6) 20%,
      var(--bg) 100%);
}

.titleSection {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 50%;
  padding: 6rem 0 5rem 8rem;
  transition: max-width 0.25s ease, padding 0.25s ease;
}

.highlightedName {
  background: linear-gradient(to right, #db0101, #e64d4d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 900;
}

.description {
  color: var(--subdued-text);
}

.gradientButton {
  min-width: 6rem;
  margin-top: 0.75rem;
  padding: 1.125rem 1.75rem;
  font-size: 1.125rem;
  font-weight: var(--semi-bold);
  background-image: linear-gradient(to right, #b20101, #da0101);
}

.introSection {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 6rem;
  padding: 5rem 8rem 5rem 8rem;
  transition: padding 0.25s ease;
}

.companyHighlightContent {
  position: relative;
  z-index: 2;
  padding: 5rem 8rem 5rem 8rem;
  transition: padding 0.25s ease;
}

@media screen and (max-width: 1024px) {
  .titleSection {
    max-width: 100%;
    padding: 6rem 8rem 5rem 8rem;
  }
}

@media screen and (max-width: 768px) {

  .titleSection,
  .introSection,
  .companyHighlightContent {
    padding: 6rem 4rem 5rem 4rem;
  }

  .introSection {
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 0;
  }
}