.loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;

    padding: 3.5rem 5rem 4.5rem 5rem;
    background-color: var(--bg-t);
    border: none;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-weight: var(--semi-bold);

    width: 30%;
    min-width: calc(var(--mobile-screen) - 2rem);
    max-width: var(--medium-screen);

    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(50%, 50%);
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.toggleButton {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    margin: auto;
    height: fit-content;
    color: var(--secondary);
    transition: color 0.25s ease;
}

.toggleButton:hover {
    color: var(--primary);
}

.loginButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: var(--semi-bold);
}