.featureSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.5rem, 22rem));
    gap: 5rem 3rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.featureSection:hover>.glowContainer>.containerBorder {
    opacity: 1;
}

.glowContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 0.9;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255, 0.1);
    transition: height 0.25s ease;
}

.glowContainer:hover::before {
    opacity: 1;
}

.glowContainer::before,
.glowContainer>.containerBorder {
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    opacity: 0;
    transition: opacity 500ms;
}

.glowContainer::before {
    background: radial-gradient(800px circle at var(--light-x) var(--light-y), rgba(255, 255, 255, 0.1), transparent 40%);
    z-index: 3;
}

.glowContainer>.containerBorder {
    background: radial-gradient(400px circle at var(--light-x) var(--light-y), rgba(255, 255, 255, 0.4), transparent 40%);
    z-index: 1;
}

.glowContainer>.featureContent {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 2rem 2rem;
    border-radius: inherit;
    margin: 1px;
    background-color: hsl(228, 6%, 18%);
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .featureSection {
        display: flex;
        flex-direction: column;
    }

    .glowContainer {
        aspect-ratio: auto;
        height: fit-content;
    }

    .glowContainer>.featureContent {
        padding: 2rem 3rem;
    }
}